/*base*/
body{
    width: 100%;
    height: 100%;
}
.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 70px;
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.uppercase {
    text-transform: uppercase;
}
input{
    width: 100%;
    padding: 12px 20px;
    margin-left: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px rgb(201, 199, 199);
    border: rgb(202, 200, 200) 1px solid;
 }
label{
    margin-left: 110px;
    margin-top: 10px;
}

/*header*/

.header{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 40px auto;
}
.logo {
    max-width: 122px;
}
.navigation {
    font-family: 'Montserrat', sans-serif;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.navigation-li {
    height: auto;
    text-transform: uppercase;
    margin: auto 16px;
}
/*image section*/

.image{
    width: 1640px;
    height: 608px;
    width: 100%;
    margin-bottom: 50px;
}

/*second section*/
.form-wrap{
    width: 100%;
    max-width: 630px;
    width: 100%;
}
.message-textarea{
    width: 100%;
    padding: 12px 20px;
    margin-left: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 112px;  
    box-shadow: 1px 1px 1px rgb(201, 199, 199);
    border: rgb(202, 200, 200) 1px solid;
}
.send{
    margin-left: 80px;
    background-color: #2E2E2E;
    color: #fff;
    border: none; 
    width: 150.93px;
    height: 52.24px;
    font-size: 21px;
    margin-top: 40px;
    margin-bottom: 210px;
}

/*footer*/


.footer {
    max-width: 1440px;
    width: 90%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #ffffff;
    margin: 8px auto;
}
.footer-div {
    width: 100%;
    height: 208px;
    background-color: #2E2E2E;
    padding-top: 56px;
}
.footer-ul {
    font-family: 'ArchyEDT-Bold';
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
     -ms-flex-direction: column;
    flex-direction: column;
    font-size: 14px;
    line-height: 18px;
}
ion-icon {
    font-size: 32px;
    margin-left: 0px;
    margin-right: 16px;
}
.white {
    color: #ffffff;
}